<footer class="footer">
  <small>
    The <a href="http://126itservices.com">RFPer</a>
    by <a href="http://126itservices.com/">126 IT Services</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://126itservices.com/">News</a></li>
    </ul>
  </nav>
</footer>
